body {
    background-color: #0000FF;
}
h1 {
    color: #484848;
    margin-left: 25px;
    font-family: sans-serif;
}
h2 {
    color: #909090; 
    margin-top: -25px;
    margin-left: 50px;
    font-family: sans-serif;
}

h3 {
    color: #D0D0D0;
    font-style: italic;
    margin-left: 75px;   
    font-family: serif;
}


p {
    color: #F5F5F5;
    font-size: 25px;
    text-indent: 50px;
    font-style: italic;   
    margin: 0px;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 100px;
    padding-left: 100px;
    font-family: serif;
    width: 600px;
}