body {
    background-color: #ffffff;
}

h1 {
    color: #484848;
    margin-left: 25px;
    font-family: sans-serif;
}
h2 {
    color: #505050; 
    margin-top: -25px;
    margin-left: 50px;
    font-family: sans-serif;
}

h3 {
    color: #191970;
    font-style: italic;
    font-family: serif;
    text-align: right;
}


p {
    color: #00008B;
    font-size: 25px;
    text-indent: 50px;
    font-style: italic;   
    margin: 0px;
    text-align: justify;
    text-justify: inter-word;
    font-family: serif;
}

.main {
	background-color:  #f2f2f2;
	    width: 600px;
   padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;     
    padding-bottom: 25px;   
    margin-top: 25px;     
    margin-bottom: 25px;   
    border: #1E90FF double 10px;
 }

 img.photos {
 	width: 400px;
     display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom:25px;
    margin-top: 25px;
}