body {
    background-color: #ffffff;
}

#header {
   background-color: #FF8C00;
    border: #202020 double 10px;
	    width: 700px;
}


h1 {
    color: #F5F5F5;
    margin-left: 25px;
    font-family: 'courier', sans-serif;
    width: 400px;
    font-size: 25px;
}

h2 {
    color: #202020; 
    margin-top: -20px;
    margin-left: 80px;
    font-family: 'courier', sans-serif;
   font-style: italic;
    border-bottom: #202020 solid 1px;
    width: 500px;
    font-size: 20px;
 }


#contentarea {

}

h3 {
    color: #191970;
    font-style: italic;
    font-family: serif;
    text-align: right;
}


p {
    color: #00008B;
    font-size: 25px;
    text-indent: 50px;
    font-style: italic;   
    margin: 0px;
    text-align: justify;
    text-justify: inter-word;
    font-family: serif;
}

.main {
	background-color:  #f2f2f2;
	    width: 600px;
   padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;     
    padding-bottom: 25px;   
    margin-top: 25px;     
    margin-bottom: 25px;   
    border: #1E90FF double 10px;
 }

 img.photos {
 	width: 400px;
     display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom:25px;
    margin-top: 25px;
}

video.vids {
 	width: 400px;
     display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom:25px;
    margin-top: 25px;
}

